Agente_Difusor_Practica1_WorkFlow  Web.json
{
  "name": "Agente_Difusor_Practica1_WorkFlow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formulario-1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -832,
        384
      ],
      "id": "567fb1e5-2ff6-44b8-8a77-cfdc69d1e642",
      "name": "Webhook",
      "webhookId": "8b063ac8-05d6-43d5-9154-7001996d4d94"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wSlAHXH_dr3gimb5nV_vEEiFgeCPa_y0W0NuV6K6H5Q",
          "mode": "list",
          "cachedResultName": "Respuestas Webhook n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wSlAHXH_dr3gimb5nV_vEEiFgeCPa_y0W0NuV6K6H5Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wSlAHXH_dr3gimb5nV_vEEiFgeCPa_y0W0NuV6K6H5Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TituloActividad": "={{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}",
            "ID_Registro": "={{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}",
            "Responsable": "={{ $('Agregar el ID en las respuestas').item.json.body.Responsable }}",
            "FechaLugar": "={{ $('Agregar el ID en las respuestas').item.json.body.FechaLugar }}",
            "DescripcionBreve": "={{ $('Agregar el ID en las respuestas').item.json.body.DescripcionBreve }}",
            "ArchivosAdjuntos": "={{ $('Agregar el ID en las respuestas').item.json.body.ArchivosAdjuntos }}",
            "EnlaceAdicional": "={{ $('Agregar el ID en las respuestas').item.json.body.EnlaceAdicional }}",
            "CanalesDifusion": "={{ $('Agregar el ID en las respuestas').item.json.body.CanalesDifusion }}",
            "LinkFacebook": "={{ $json.LinkFacebook }}"
          },
          "matchingColumns": [
            "ID_Registro"
          ],
          "schema": [
            {
              "id": "ID_Registro",
              "displayName": "ID_Registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TituloActividad",
              "displayName": "TituloActividad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Responsable",
              "displayName": "Responsable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FechaLugar",
              "displayName": "FechaLugar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DescripcionBreve",
              "displayName": "DescripcionBreve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ArchivosAdjuntos",
              "displayName": "ArchivosAdjuntos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EnlaceAdicional",
              "displayName": "EnlaceAdicional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CanalesDifusion",
              "displayName": "CanalesDifusion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkFacebook",
              "displayName": "LinkFacebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        448
      ],
      "id": "f92359e1-e9ac-45e6-ac67-369357f08bbb",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rSfcgkgRJnWgAUGI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "0a88c81d-1de2-4b6d-935b-ea845e2bcb44"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0db5ff99-0f51-4011-8b85-b2167c06c169",
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "={{ $json.body.CanalesDifusion[1] }}{{ $json.body.CanalesDifusion[2] }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -304,
        384
      ],
      "id": "d1dc96e3-e2ec-4023-8217-5a8fb3aa906e",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66adc68e-5ddc-48ba-a72e-128d2caffdff",
              "name": "ID_Registro",
              "value": "={{Date.now()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        384
      ],
      "id": "be00759c-9cb6-49c6-bb25-b485b297ab5b",
      "name": "Agregar el ID en las respuestas"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "820218114513646",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json.body.ArchivosAdjuntos }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.body.DescripcionBreve }} Más Informacion: {{ $json.body.EnlaceAdicional }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "60dc4073-a203-4131-8b80-4f09ea4cb960",
      "name": "Facebook Graph API",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c5fe578-f138-4685-84a0-75fd32c37d82",
              "name": "LinkFacebook",
              "value": "=https://www.facebook.com/82028114513846/posts/{{$json.id}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -16
      ],
      "id": "a8e71618-cf8d-45ae-9ed7-515dacbc7073",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1136,
        448
      ],
      "id": "37026890-2044-4375-b8dd-43180b99f57a",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6d96b311-906f-4f5b-aac9-6ebcba3e48d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c179515a-1da1-4a83-9ad6-4b4071d6a20d",
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        288,
        0
      ],
      "id": "926382c8-d812-4491-ad5e-590d0a0218ca",
      "name": "Switch1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "291d2ad0-b425-4ba9-ba7c-1e94f0549949",
              "name": "AsuntoEmail",
              "value": "=Fallo en Publicacion: {{ $('Switch').item.json.body.TituloActividad }}",
              "type": "string"
            },
            {
              "id": "d3325151-012b-49e2-9117-29fe12ad053a",
              "name": "EmailResponsable",
              "value": "={{ $('Switch').item.json.body.Responsable }}",
              "type": "string"
            },
            {
              "id": "623c6ffc-b1bd-45be-945a-85c0c995b86d",
              "name": "CuerpoError",
              "value": "=Error: {{ $('Facebook Graph API').item.json.headers['www-authenticate'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        208
      ],
      "id": "ff433695-4e51-4a27-a531-1715783e20bc",
      "name": "Edit Fields1",
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json.EmailResponsable }}",
        "subject": "={{ $json.AsuntoEmail }}",
        "message": "=<h3>ALERTA: FALLO CRÍTICO EN AGENTE DIFUSOR</h3>  <p>El Agente Automatizado falló al intentar publicar la siguiente actividad en Facebook. Se requiere una acción manual:</p>  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">     <tr><td><b>Actividad:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}</td></tr>     <tr><td><b>ID de Registro:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}</td></tr>     <tr><td><b>Responsable:</b></td><td>{{ $json.EmailResponsable }}</td></tr> </table>  <hr>  <p><b>Motivo del Fallo Técnico:</b><br> <span style=\"color: red;\">{{$json.CuerpoError}}</span></p>  <p><i>Por favor, revise la vigencia del Token de Acceso de la página de Facebook.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        704,
        208
      ],
      "id": "5ac0d72c-e94a-4df8-8d91-c68049e7285b",
      "name": "Send a message",
      "webhookId": "07845977-6471-4ce7-9b24-3f17c98e859d",
      "credentials": {
        "gmailOAuth2": {
          "id": "t4K7aClAnXVm3JFP",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "responses": {
          "values": [
            {
              "content": "Escribe un Articulo para postear en una pagina web de noticias institucional usando la siguiente informacion.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -64,
        480
      ],
      "id": "c3d59c4a-c831-4e99-9cae-6fd569025764",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "AE1i8C5kz7F1z2yZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sebastianx025@gmail.com",
        "subject": "post content",
        "message": "post here",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        400,
        480
      ],
      "id": "3b34b702-ef36-42f6-9f05-a75a6ba9f0ba",
      "name": "Send a message1",
      "webhookId": "779d2e50-9a40-44df-84a0-f84f18253b02",
      "credentials": {
        "gmailOAuth2": {
          "id": "t4K7aClAnXVm3JFP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.EmailResponsable }}",
        "subject": "={{ $json.AsuntoEmail }}",
        "message": "=<h3>ALERTA: FALLO CRÍTICO EN AGENTE DIFUSOR</h3>  <p>El Agente Automatizado falló al intentar publicar la siguiente actividad en Facebook. Se requiere una acción manual:</p>  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">     <tr><td><b>Actividad:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}</td></tr>     <tr><td><b>ID de Registro:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}</td></tr>     <tr><td><b>Responsable:</b></td><td>{{ $json.EmailResponsable }}</td></tr> </table>  <hr>  <p><b>Motivo del Fallo Técnico:</b><br> <span style=\"color: red;\">{{$json.CuerpoError}}</span></p>  <p><i>Por favor, revise la vigencia del Token de Acceso de la página de Facebook.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        944,
        624
      ],
      "id": "28eff107-9c9c-4644-9614-a05a1cbb3808",
      "name": "Send a message2",
      "webhookId": "07845977-6471-4ce7-9b24-3f17c98e859d",
      "credentials": {
        "gmailOAuth2": {
          "id": "t4K7aClAnXVm3JFP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6d96b311-906f-4f5b-aac9-6ebcba3e48d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c179515a-1da1-4a83-9ad6-4b4071d6a20d",
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        608,
        480
      ],
      "id": "492dce35-f171-49c6-bfc5-82860c2b1adf",
      "name": "Switch2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "291d2ad0-b425-4ba9-ba7c-1e94f0549949",
              "name": "AsuntoEmail",
              "value": "=Fallo en Publicacion: {{ $('Switch').item.json.body.TituloActividad }}",
              "type": "string"
            },
            {
              "id": "d3325151-012b-49e2-9117-29fe12ad053a",
              "name": "EmailResponsable",
              "value": "={{ $('Switch').item.json.body.Responsable }}",
              "type": "string"
            },
            {
              "id": "623c6ffc-b1bd-45be-945a-85c0c995b86d",
              "name": "CuerpoError",
              "value": "=Error:",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        624
      ],
      "id": "30833307-d534-436c-a9d4-5c86849c131f",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Agregar el ID en las respuestas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar el ID en las respuestas": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20cb34aa-0118-47f0-ac88-ba0a570c1470",
  "meta": {
    "instanceId": "5f42b9c879be371127a1d35589d1007d0996d80726f62baa0df3d0f4e01be540"
  },
  "id": "3a1kN6xSkuwpNCh9",
  "tags": []
}