Agente_Difusor_Practica1_WorkFlow.json
{
  "name": "Agente_Difusor_Practica1_WorkFlow",
  "nodes": [
    {
      "parameters": {
        "content": "Facebook\n\nKEY\nEAAvHmOdp5ZCwBP26EtivpGjd6Po6ExL6seseBZC2MoS69qn9hNZClS7fOkozzZBYi7fBc0bQSYifgBZB1aPif4AZChb8KcFEygOjbc6I3ZBbsUXCY4WSjBMhQ0Tgyz581Tbvp3DH76sQrOgwT8d6sMxGL1qaLLDBBZBETjt08caD64XNQ6ej0VbjntQbnAcHRvKwFvsxPRzZCnboF03HC",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1344,
        2656
      ],
      "typeVersion": 1,
      "id": "de19ac67-89c0-486b-865e-5f06dba5cb70",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1632,
        3072
      ],
      "id": "ea2f1975-b597-4897-9a33-d18aee6bc25f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formulario-1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1280,
        2912
      ],
      "id": "201dab76-2b7f-481e-b1db-2e2e37fc1223",
      "name": "Webhook",
      "webhookId": "8b063ac8-05d6-43d5-9154-7001996d4d94"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wSlAHXH_dr3gimb5nV_vEEiFgeCPa_y0W0NuV6K6H5Q",
          "mode": "list",
          "cachedResultName": "Respuestas Webhook n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wSlAHXH_dr3gimb5nV_vEEiFgeCPa_y0W0NuV6K6H5Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wSlAHXH_dr3gimb5nV_vEEiFgeCPa_y0W0NuV6K6H5Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TituloActividad": "={{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}",
            "ID_Registro": "={{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}",
            "Responsable": "={{ $('Agregar el ID en las respuestas').item.json.body.Responsable }}",
            "FechaLugar": "={{ $('Agregar el ID en las respuestas').item.json.body.FechaLugar }}",
            "DescripcionBreve": "={{ $('Agregar el ID en las respuestas').item.json.body.DescripcionBreve }}",
            "ArchivosAdjuntos": "={{ $('Agregar el ID en las respuestas').item.json.body.ArchivosAdjuntos }}",
            "EnlaceAdicional": "={{ $('Agregar el ID en las respuestas').item.json.body.EnlaceAdicional }}",
            "CanalesDifusion": "={{ $('Agregar el ID en las respuestas').item.json.body.CanalesDifusion }}",
            "LinkFacebook": "={{ $json.LinkFacebook }}"
          },
          "matchingColumns": [
            "ID_Registro"
          ],
          "schema": [
            {
              "id": "ID_Registro",
              "displayName": "ID_Registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TituloActividad",
              "displayName": "TituloActividad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Responsable",
              "displayName": "Responsable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FechaLugar",
              "displayName": "FechaLugar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DescripcionBreve",
              "displayName": "DescripcionBreve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ArchivosAdjuntos",
              "displayName": "ArchivosAdjuntos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EnlaceAdicional",
              "displayName": "EnlaceAdicional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CanalesDifusion",
              "displayName": "CanalesDifusion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkFacebook",
              "displayName": "LinkFacebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1952,
        3104
      ],
      "id": "f9bc4f37-004d-43d8-aded-1b9b97f75e76",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1cI0NeGoaPCZAc1y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "0a88c81d-1de2-4b6d-935b-ea845e2bcb44"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4ed5f5e4-e09d-4f11-90d2-6d41a4767292",
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "=Twitter(x)",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee947fcc-1089-44ee-b2e2-b24b8cab93c2",
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f41aea95-46a8-41d5-bad5-982f6e3edc04",
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "Web",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -848,
        2880
      ],
      "id": "2b9e4d5b-0914-48e0-839d-daa612312cda",
      "name": "Switch4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66adc68e-5ddc-48ba-a72e-128d2caffdff",
              "name": "ID_Registro",
              "value": "={{Date.now()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        2912
      ],
      "id": "848fe36f-fba5-47fe-b114-76e36a4900b9",
      "name": "Agregar el ID en las respuestas"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "820218114513646",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json.body.additionalLink }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.body.description }}Más Informacion: {{ $json.body.additionalLink }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -320,
        2464
      ],
      "id": "9df4aa71-5a0a-47a1-937a-9ad5f1ff287c",
      "name": "Facebook Graph API1",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "credentials": {
        "facebookGraphApi": {
          "id": "HZkwtJxdudbdJdXm",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "291d2ad0-b425-4ba9-ba7c-1e94f0549949",
              "name": "AsuntoEmail",
              "value": "=Fallo en Publicacion: {{ $('Switch8').item.json.body.TituloActividad }}",
              "type": "string"
            },
            {
              "id": "d3325151-012b-49e2-9117-29fe12ad053a",
              "name": "EmailResponsable",
              "value": "={{ $('Switch8').item.json.body.Responsable }}",
              "type": "string"
            },
            {
              "id": "623c6ffc-b1bd-45be-945a-85c0c995b86d",
              "name": "CuerpoError",
              "value": "=Error: {{ $('Facebook Graph API1').item.json.headers['www-authenticate'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        2624
      ],
      "id": "57f58a35-2a4a-46f8-ac75-2eef1bdd4f10",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.EmailResponsable }}",
        "subject": "={{ $json.AsuntoEmail }}",
        "message": "=<h3>ALERTA: FALLO CRÍTICO EN AGENTE DIFUSOR</h3>  <p>El Agente Automatizado falló al intentar publicar la siguiente actividad en Facebook. Se requiere una acción manual:</p>  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">     <tr><td><b>Actividad:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}</td></tr>     <tr><td><b>ID de Registro:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}</td></tr>     <tr><td><b>Responsable:</b></td><td>{{ $json.EmailResponsable }}</td></tr> </table>  <hr>  <p><b>Motivo del Fallo Técnico:</b><br> <span style=\"color: red;\">{{$json.CuerpoError}}</span></p>  <p><i>Por favor, revise la vigencia del Token de Acceso de la página de Facebook.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        2624
      ],
      "id": "5bca9ed8-09e9-409b-9c19-6ea23fc4364b",
      "name": "Send a message3",
      "webhookId": "07845977-6471-4ce7-9b24-3f17c98e859d",
      "credentials": {
        "gmailOAuth2": {
          "id": "DYj1RD57WlvKEGJH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c5fe578-f138-4685-84a0-75fd32c37d82",
              "name": "LinkFacebook",
              "value": "=https://www.facebook.com/82028114513846/posts/{{$json.id}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        2448
      ],
      "id": "38b58936-6cc7-494f-aecd-32e1a368775c",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6d96b311-906f-4f5b-aac9-6ebcba3e48d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c179515a-1da1-4a83-9ad6-4b4071d6a20d",
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -32,
        2464
      ],
      "id": "f02a4702-88aa-47e2-bf1b-a8bee766a252",
      "name": "Switch5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6d96b311-906f-4f5b-aac9-6ebcba3e48d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c179515a-1da1-4a83-9ad6-4b4071d6a20d",
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        2896
      ],
      "id": "c3c600bc-99ff-4bea-b1b3-bda3e93e1fcf",
      "name": "Switch7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c5fe578-f138-4685-84a0-75fd32c37d82",
              "name": "LinkFacebook",
              "value": "=https://www.facebook.com/82028114513846/posts/{{$json.id}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        2880
      ],
      "id": "fdb242e1-9bba-4e63-b31a-c2c9d423d5a3",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.EmailResponsable }}",
        "subject": "={{ $json.AsuntoEmail }}",
        "message": "=<h3>ALERTA: FALLO CRÍTICO EN AGENTE DIFUSOR</h3>  <p>El Agente Automatizado falló al intentar publicar la siguiente actividad en Facebook. Se requiere una acción manual:</p>  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">     <tr><td><b>Actividad:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}</td></tr>     <tr><td><b>ID de Registro:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}</td></tr>     <tr><td><b>Responsable:</b></td><td>{{ $json.EmailResponsable }}</td></tr> </table>  <hr>  <p><b>Motivo del Fallo Técnico:</b><br> <span style=\"color: red;\">{{$json.CuerpoError}}</span></p>  <p><i>Por favor, revise la vigencia del Token de Acceso de la página de Facebook.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        3056
      ],
      "id": "675da989-7aff-4316-9128-e2cbd4ca6daf",
      "name": "Send a message5",
      "webhookId": "07845977-6471-4ce7-9b24-3f17c98e859d",
      "credentials": {
        "gmailOAuth2": {
          "id": "DYj1RD57WlvKEGJH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "291d2ad0-b425-4ba9-ba7c-1e94f0549949",
              "name": "AsuntoEmail",
              "value": "=Fallo en Publicacion: {{ $('Switch8').item.json.body.TituloActividad }}",
              "type": "string"
            },
            {
              "id": "d3325151-012b-49e2-9117-29fe12ad053a",
              "name": "EmailResponsable",
              "value": "={{ $('Switch8').item.json.body.Responsable }}",
              "type": "string"
            },
            {
              "id": "623c6ffc-b1bd-45be-945a-85c0c995b86d",
              "name": "CuerpoError",
              "value": "=Error: {{ $('Facebook Graph API1').item.json.headers['www-authenticate'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        3056
      ],
      "id": "91c25ad5-2b3c-4df7-a4f4-768509f31aa6",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "text": "={{\n(\n  ($json.body.title || '') + ' — ' +\n  ($json.body.description || '') + '\\n' +\n  ($json.body.date || '') + '\\n' +\n  (\n    $json.body.additionalLink || '') + '\\n'\n).slice(0, 280)\n}}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -320,
        2912
      ],
      "id": "8a44d9c5-554a-4467-81e8-31f6abbabbbf",
      "name": "Create Tweet1",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "50VsgKssjbZokxA3",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        3376
      ],
      "id": "c5ed9862-ed93-4950-8fea-a00766a191ae",
      "name": "Wait 5 Sec1",
      "webhookId": "4d32914a-2c09-4c84-b358-510b4d016c12"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.file_0_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d1156cbf-4d9c-4363-901b-d9e76d4ef1b9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4ae9a66a-b065-4b5f-ae95-84df481741cf",
                    "leftValue": "={{ $json.body.file_0_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -320,
        3360
      ],
      "id": "1f9d4d20-c30c-486b-a2bb-11901cc79d13",
      "name": "Switch8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841478311115017/media",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.body.ArchivosAdjuntos }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.body.DescripcionBreve }}"
            },
            {
              "name": "access_token",
              "value": "EAAK2KijVlFMBP6QV20bD7BZAFGeVKVoJ63CUg6i4u3Fjc368GGmax6vudB2evjQhpoipXnd5OTZBPoQxLhcTA2YPkHHe1cWZCH371AoGKS0ztdInKwZAEsW65lJKZCMR7yNfZCArTz64PZCFqat2qplWvL2LyOFPmZAaFt2HmAFZA6jYzjcl3RFFWbg6ZBNcK0fvZCHFS0p"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        3232
      ],
      "id": "e149b942-c4f9-47e4-ba6f-a9cd09e40635",
      "name": "Create Media Container - IG - Imagen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841478311115017/media",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "VIDEO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        3456
      ],
      "id": "0724c0b4-4cda-4073-85fa-1579ef773d02",
      "name": "Create Media Container - IG - Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841478311115017/media",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('Create Media Container - IG - Imagen').item.json.id }}"
            },
            {
              "name": "access_token",
              "value": "EAAK2KijVlFMBP6QV20bD7BZAFGeVKVoJ63CUg6i4u3Fjc368GGmax6vudB2evjQhpoipXnd5OTZBPoQxLhcTA2YPkHHe1cWZCH371AoGKS0ztdInKwZAEsW65lJKZCMR7yNfZCArTz64PZCFqat2qplWvL2LyOFPmZAaFt2HmAFZA6jYzjcl3RFFWbg6ZBNcK0fvZCHFS0p"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        3376
      ],
      "id": "a655e584-f460-4165-b6c3-e5912752941a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.EmailResponsable }}",
        "subject": "={{ $json.AsuntoEmail }}",
        "message": "=<h3>ALERTA: FALLO CRÍTICO EN AGENTE DIFUSOR</h3>  <p>El Agente Automatizado falló al intentar publicar la siguiente actividad en Facebook. Se requiere una acción manual:</p>  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">     <tr><td><b>Actividad:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}</td></tr>     <tr><td><b>ID de Registro:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}</td></tr>     <tr><td><b>Responsable:</b></td><td>{{ $json.EmailResponsable }}</td></tr> </table>  <hr>  <p><b>Motivo del Fallo Técnico:</b><br> <span style=\"color: red;\">{{$json.CuerpoError}}</span></p>  <p><i>Por favor, revise la vigencia del Token de Acceso de la página de Facebook.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1168,
        3824
      ],
      "id": "23fcd0f8-206e-42af-9ca1-3e6a4e706020",
      "name": "Send a message6",
      "webhookId": "07845977-6471-4ce7-9b24-3f17c98e859d",
      "credentials": {
        "gmailOAuth2": {
          "id": "DYj1RD57WlvKEGJH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sebastianx025@gmail.com",
        "subject": "post content",
        "message": "post here",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        176,
        3808
      ],
      "id": "3e5ad82d-7e2c-4a80-9f78-f807345706b1",
      "name": "Send a message7",
      "webhookId": "779d2e50-9a40-44df-84a0-f84f18253b02",
      "credentials": {
        "gmailOAuth2": {
          "id": "DYj1RD57WlvKEGJH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6d96b311-906f-4f5b-aac9-6ebcba3e48d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c179515a-1da1-4a83-9ad6-4b4071d6a20d",
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        640,
        3808
      ],
      "id": "734646c5-c2cd-4659-af54-b79903dd6093",
      "name": "Switch9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "291d2ad0-b425-4ba9-ba7c-1e94f0549949",
              "name": "AsuntoEmail",
              "value": "=Fallo en Publicacion: {{ $('Switch4').item.json.body.TituloActividad }}",
              "type": "string"
            },
            {
              "id": "d3325151-012b-49e2-9117-29fe12ad053a",
              "name": "EmailResponsable",
              "value": "={{ $('Switch4').item.json.body.Responsable }}",
              "type": "string"
            },
            {
              "id": "623c6ffc-b1bd-45be-945a-85c0c995b86d",
              "name": "CuerpoError",
              "value": "=Error:",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        3824
      ],
      "id": "d65378ae-bee5-4cd7-9b7f-02b8c0a006a2",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {
              "content": "=Escribe un Articulo para postear en una pagina web de noticias \ninstitucional usando la siguiente informacion.\nEl Titulo de la actividad es: \"Título de la Actividad\"\nLa carrera responsable es:\"Carrera Responsable\"\nLa fecha y lugar es:\"Fecha y Lugar\"\nLa descripcion de la actividad es : \"Descripción\"\nAdjuntar la siguiente URL: \"URL Imagen/Video Adjunto\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -480,
        3808
      ],
      "id": "f45ac962-31e4-4481-8b9e-947f606f9271",
      "name": "Message a model",
      "disabled": true
    },
    {
      "parameters": {
        "content": "Client ID Twitter\nRThXa0hHbHRJaGRtdWNnZ2lhZm86MTpjaQ\nKEY\n2sm3vVRDzin1npRZWdE1_miwu9HcyShKV4hBoXKct48F1uvwhK",
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        2656
      ],
      "typeVersion": 1,
      "id": "5f447247-d40a-4e76-9872-22415c647680",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Agregar el ID en las respuestas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Tweet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar el ID en las respuestas": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch7": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet1": {
      "main": [
        [
          {
            "node": "Switch7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Sec1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch8": {
      "main": [
        [
          {
            "node": "Create Media Container - IG - Imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Media Container - IG - Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Media Container - IG - Imagen": {
      "main": [
        [
          {
            "node": "Wait 5 Sec1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Media Container - IG - Video": {
      "main": [
        [
          {
            "node": "Wait 5 Sec1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Send a message7": {
      "main": [
        [
          {
            "node": "Switch9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch9": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20a916ff-5412-471a-becd-00479d49014c",
  "meta": {
    "instanceId": "81a61bd715d0eeefbee3481fb6931f872310283f3e19b75b85ef6628f9903a89"
  },
  "id": "xNvExmFyUcFoZ8QZ",
  "tags": []
}