Agente_Difusor_Practica1_WorkFlow (3).json
{
  "name": "Agente_Difusor_Practica1_WorkFlow",
  "nodes": [
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        -192
      ],
      "id": "01b5cbdf-98d5-4a0a-8e36-8fdac71bdea1",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formulario-1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        -352
      ],
      "id": "2e6b3f97-a6f0-40ef-a3b6-4705d135c949",
      "name": "Webhook1",
      "webhookId": "8b063ac8-05d6-43d5-9154-7001996d4d94"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wSlAHXH_dr3gimb5nV_vEEiFgeCPa_y0W0NuV6K6H5Q",
          "mode": "list",
          "cachedResultName": "Respuestas Webhook n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wSlAHXH_dr3gimb5nV_vEEiFgeCPa_y0W0NuV6K6H5Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wSlAHXH_dr3gimb5nV_vEEiFgeCPa_y0W0NuV6K6H5Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TituloActividad": "={{ $('Agregar el ID en las respuestas1').item.json.body.TituloActividad }}",
            "ID_Registro": "={{ $('Agregar el ID en las respuestas1').item.json.ID_Registro }}",
            "Responsable": "={{ $('Agregar el ID en las respuestas1').item.json.body.Responsable }}",
            "FechaLugar": "={{ $('Agregar el ID en las respuestas1').item.json.body.FechaLugar }}",
            "DescripcionBreve": "={{ $('Agregar el ID en las respuestas1').item.json.body.DescripcionBreve }}",
            "ArchivosAdjuntos": "={{ $('Agregar el ID en las respuestas1').item.json.body.ArchivosAdjuntos }}",
            "EnlaceAdicional": "={{ $('Agregar el ID en las respuestas1').item.json.body.EnlaceAdicional }}",
            "CanalesDifusion": "={{ $('Agregar el ID en las respuestas1').item.json.body.CanalesDifusion }}",
            "LinkFacebook": "={{ $json.LinkFacebook }}"
          },
          "matchingColumns": [
            "ID_Registro"
          ],
          "schema": [
            {
              "id": "ID_Registro",
              "displayName": "ID_Registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TituloActividad",
              "displayName": "TituloActividad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Responsable",
              "displayName": "Responsable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FechaLugar",
              "displayName": "FechaLugar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DescripcionBreve",
              "displayName": "DescripcionBreve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ArchivosAdjuntos",
              "displayName": "ArchivosAdjuntos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EnlaceAdicional",
              "displayName": "EnlaceAdicional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CanalesDifusion",
              "displayName": "CanalesDifusion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkFacebook",
              "displayName": "LinkFacebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        -160
      ],
      "id": "e37d9232-5880-4d23-91aa-f96562eb24bd",
      "name": "Append or update row in sheet1",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "0a88c81d-1de2-4b6d-935b-ea845e2bcb44"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4ed5f5e4-e09d-4f11-90d2-6d41a4767292",
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "=Twitter(x)",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee947fcc-1089-44ee-b2e2-b24b8cab93c2",
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f41aea95-46a8-41d5-bad5-982f6e3edc04",
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "Web",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -912,
        -384
      ],
      "id": "d62d0abf-ab14-4d74-a5de-a92ef8db801e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66adc68e-5ddc-48ba-a72e-128d2caffdff",
              "name": "ID_Registro",
              "value": "={{Date.now()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        -352
      ],
      "id": "05d17cd3-7d8f-4aa3-b278-21c747baa387",
      "name": "Agregar el ID en las respuestas1"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "820218114513646",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json.body.ArchivosAdjuntos }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.body.DescripcionBreve }} Más Informacion: {{ $json.body.EnlaceAdicional }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -400,
        -800
      ],
      "id": "3aaa9753-c016-41fe-819a-0ae0882088d9",
      "name": "Facebook Graph API",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "credentials": {
        "facebookGraphApi": {
          "id": "tvXO7Pv9DGmoE4iN",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "291d2ad0-b425-4ba9-ba7c-1e94f0549949",
              "name": "AsuntoEmail",
              "value": "=Fallo en Publicacion: {{ $('Switch').item.json.body.TituloActividad }}",
              "type": "string"
            },
            {
              "id": "d3325151-012b-49e2-9117-29fe12ad053a",
              "name": "EmailResponsable",
              "value": "={{ $('Switch').item.json.body.Responsable }}",
              "type": "string"
            },
            {
              "id": "623c6ffc-b1bd-45be-945a-85c0c995b86d",
              "name": "CuerpoError",
              "value": "=Error: {{ $('Facebook Graph API').item.json.headers['www-authenticate'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -640
      ],
      "id": "edbb8552-103d-46ca-a2ec-7c17dc1907b0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sendTo": "={{ $json.EmailResponsable }}",
        "subject": "={{ $json.AsuntoEmail }}",
        "message": "=<h3>ALERTA: FALLO CRÍTICO EN AGENTE DIFUSOR</h3>  <p>El Agente Automatizado falló al intentar publicar la siguiente actividad en Facebook. Se requiere una acción manual:</p>  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">     <tr><td><b>Actividad:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}</td></tr>     <tr><td><b>ID de Registro:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}</td></tr>     <tr><td><b>Responsable:</b></td><td>{{ $json.EmailResponsable }}</td></tr> </table>  <hr>  <p><b>Motivo del Fallo Técnico:</b><br> <span style=\"color: red;\">{{$json.CuerpoError}}</span></p>  <p><i>Por favor, revise la vigencia del Token de Acceso de la página de Facebook.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        -640
      ],
      "id": "f2b7f4af-3af3-4dfa-9935-7c5ec965a2f2",
      "name": "Send a message",
      "webhookId": "07845977-6471-4ce7-9b24-3f17c98e859d",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c5fe578-f138-4685-84a0-75fd32c37d82",
              "name": "LinkFacebook",
              "value": "=https://www.facebook.com/82028114513846/posts/{{$json.id}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -816
      ],
      "id": "43e207f0-cecf-472e-8db1-3ceda6a93598",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6d96b311-906f-4f5b-aac9-6ebcba3e48d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c179515a-1da1-4a83-9ad6-4b4071d6a20d",
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -112,
        -800
      ],
      "id": "ad998c18-c9c2-4756-b4c3-47708529577a",
      "name": "Switch2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6d96b311-906f-4f5b-aac9-6ebcba3e48d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c179515a-1da1-4a83-9ad6-4b4071d6a20d",
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -96,
        -368
      ],
      "id": "244e4e51-2572-44dc-b7f4-565fffbd0194",
      "name": "Switch3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c5fe578-f138-4685-84a0-75fd32c37d82",
              "name": "LinkFacebook",
              "value": "=https://www.facebook.com/82028114513846/posts/{{$json.id}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -384
      ],
      "id": "ed220481-492b-4030-b6b3-fcbbffe5d868",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sendTo": "={{ $json.EmailResponsable }}",
        "subject": "={{ $json.AsuntoEmail }}",
        "message": "=<h3>ALERTA: FALLO CRÍTICO EN AGENTE DIFUSOR</h3>  <p>El Agente Automatizado falló al intentar publicar la siguiente actividad en Facebook. Se requiere una acción manual:</p>  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">     <tr><td><b>Actividad:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}</td></tr>     <tr><td><b>ID de Registro:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}</td></tr>     <tr><td><b>Responsable:</b></td><td>{{ $json.EmailResponsable }}</td></tr> </table>  <hr>  <p><b>Motivo del Fallo Técnico:</b><br> <span style=\"color: red;\">{{$json.CuerpoError}}</span></p>  <p><i>Por favor, revise la vigencia del Token de Acceso de la página de Facebook.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        576,
        -208
      ],
      "id": "7f307ecd-6722-4926-b466-ee1bc6b6639b",
      "name": "Send a message1",
      "webhookId": "07845977-6471-4ce7-9b24-3f17c98e859d",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "291d2ad0-b425-4ba9-ba7c-1e94f0549949",
              "name": "AsuntoEmail",
              "value": "=Fallo en Publicacion: {{ $('Switch').item.json.body.TituloActividad }}",
              "type": "string"
            },
            {
              "id": "d3325151-012b-49e2-9117-29fe12ad053a",
              "name": "EmailResponsable",
              "value": "={{ $('Switch').item.json.body.Responsable }}",
              "type": "string"
            },
            {
              "id": "623c6ffc-b1bd-45be-945a-85c0c995b86d",
              "name": "CuerpoError",
              "value": "=Error: {{ $('Facebook Graph API').item.json.headers['www-authenticate'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -208
      ],
      "id": "a7d3277d-7fcc-43b8-a80c-dcad39e1b427",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "text": "={{\n(\n  ($json.body.TituloActividad || '') + ' — ' +\n  ($json.body.DescripcionBreve || '') + '\\n' +\n  ($json.body.FechaLugar || '') +\n  (\n    $json.body.EnlaceAdicional\n      ? '\\n' + $json.body.EnlaceAdicional\n      : ''\n  ) +\n  (\n    $json.body.ArchivosAdjuntos\n      ? '\\n' + $json.body.ArchivosAdjuntos\n      : ''\n  )\n).slice(0, 280)\n}}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -400,
        -368
      ],
      "id": "71a437cc-1514-4f1d-bb42-8e62cfdf4ff2",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "jB5CQLdhidPov3wg",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        112
      ],
      "id": "6c8d93fb-db58-4212-a5e3-57173534b0ea",
      "name": "Wait 5 Sec",
      "webhookId": "4d32914a-2c09-4c84-b358-510b4d016c12",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.TipoArchivo }}",
                    "rightValue": "Imagen",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d1156cbf-4d9c-4363-901b-d9e76d4ef1b9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4ae9a66a-b065-4b5f-ae95-84df481741cf",
                    "leftValue": "={{ $json.body.TipoArchivo }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -400,
        96
      ],
      "id": "3529e10a-9be8-49ae-8769-3df5adc6e7ca",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841478311115017/media",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.body.ArchivosAdjuntos }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.body.DescripcionBreve }}"
            },
            {
              "name": "access_token",
              "value": "EAAK2KijVlFMBP6QV20bD7BZAFGeVKVoJ63CUg6i4u3Fjc368GGmax6vudB2evjQhpoipXnd5OTZBPoQxLhcTA2YPkHHe1cWZCH371AoGKS0ztdInKwZAEsW65lJKZCMR7yNfZCArTz64PZCFqat2qplWvL2LyOFPmZAaFt2HmAFZA6jYzjcl3RFFWbg6ZBNcK0fvZCHFS0p"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        -32
      ],
      "id": "8eee7507-2fbc-42ee-b65f-c7a5f1d08b81",
      "name": "Create Media Container - IG - Imagen1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841478311115017/media",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "VIDEO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        192
      ],
      "id": "dda20bbe-ca16-4142-933c-a40ebbd8c234",
      "name": "Create Media Container - IG - Video1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841478311115017/media",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('Create Media Container - IG - Imagen').item.json.id }}"
            },
            {
              "name": "access_token",
              "value": "EAAK2KijVlFMBP6QV20bD7BZAFGeVKVoJ63CUg6i4u3Fjc368GGmax6vudB2evjQhpoipXnd5OTZBPoQxLhcTA2YPkHHe1cWZCH371AoGKS0ztdInKwZAEsW65lJKZCMR7yNfZCArTz64PZCFqat2qplWvL2LyOFPmZAaFt2HmAFZA6jYzjcl3RFFWbg6ZBNcK0fvZCHFS0p"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        112
      ],
      "id": "9936efdd-4d3f-452c-8026-13992d13fc74",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json.EmailResponsable }}",
        "subject": "={{ $json.AsuntoEmail }}",
        "message": "=<h3>ALERTA: FALLO CRÍTICO EN AGENTE DIFUSOR</h3>  <p>El Agente Automatizado falló al intentar publicar la siguiente actividad en Facebook. Se requiere una acción manual:</p>  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">     <tr><td><b>Actividad:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}</td></tr>     <tr><td><b>ID de Registro:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}</td></tr>     <tr><td><b>Responsable:</b></td><td>{{ $json.EmailResponsable }}</td></tr> </table>  <hr>  <p><b>Motivo del Fallo Técnico:</b><br> <span style=\"color: red;\">{{$json.CuerpoError}}</span></p>  <p><i>Por favor, revise la vigencia del Token de Acceso de la página de Facebook.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        560
      ],
      "id": "11392262-196f-4a69-b00b-de109f20f1da",
      "name": "Send a message2",
      "webhookId": "07845977-6471-4ce7-9b24-3f17c98e859d",
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "sebastianx025@gmail.com",
        "subject": "post content",
        "message": "post here",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        96,
        544
      ],
      "id": "15d5ae30-8685-4206-93c2-356550a53d75",
      "name": "Send a message4",
      "webhookId": "779d2e50-9a40-44df-84a0-f84f18253b02",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6d96b311-906f-4f5b-aac9-6ebcba3e48d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c179515a-1da1-4a83-9ad6-4b4071d6a20d",
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        560,
        544
      ],
      "id": "e6b433cd-cfd1-411e-b382-edfcb91dfcc6",
      "name": "Switch6",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "291d2ad0-b425-4ba9-ba7c-1e94f0549949",
              "name": "AsuntoEmail",
              "value": "=Fallo en Publicacion: {{ $('Switch4').item.json.body.TituloActividad }}",
              "type": "string"
            },
            {
              "id": "d3325151-012b-49e2-9117-29fe12ad053a",
              "name": "EmailResponsable",
              "value": "={{ $('Switch4').item.json.body.Responsable }}",
              "type": "string"
            },
            {
              "id": "623c6ffc-b1bd-45be-945a-85c0c995b86d",
              "name": "CuerpoError",
              "value": "=Error:",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        560
      ],
      "id": "cd61827c-5be7-4c70-9095-3b5d601cd24b",
      "name": "Edit Fields6",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {
              "content": "Escribe un Articulo para postear en una pagina web de noticias \ninstitucional usando la siguiente informacion.\nEl Titulo de la actividad es: \"Título de la Actividad\"\nLa carrera responsable es:\"Carrera Responsable\"\nLa fecha y lugar es:\"Fecha y Lugar\"\nLa descripcion de la actividad es : \"Descripción\"\nAdjuntar la siguiente URL: \"URL Imagen/Video Adjunto\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -560,
        544
      ],
      "id": "60273081-60ed-423f-b2e0-8b29a4158ad5",
      "name": "Message a model1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "Client ID Twitter\nRThXa0hHbHRJaGRtdWNnZ2lhZm86MTpjaQ\nKEY\n2sm3vVRDzin1npRZWdE1_miwu9HcyShKV4hBoXKct48F1uvwhK",
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        -608
      ],
      "typeVersion": 1,
      "id": "a1cd6760-26d6-4c3b-9d95-7634b13c6925",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Facebook\n\nKEY\nEAAvHmOdp5ZCwBP26EtivpGjd6Po6ExL6seseBZC2MoS69qn9hNZClS7fOkozzZBYi7fBc0bQSYifgBZB1aPif4AZChb8KcFEygOjbc6I3ZBbsUXCY4WSjBMhQ0Tgyz581Tbvp3DH76sQrOgwT8d6sMxGL1qaLLDBBZBETjt08caD64XNQ6ej0VbjntQbnAcHRvKwFvsxPRzZCnboF03HC",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1424,
        -608
      ],
      "typeVersion": 1,
      "id": "596693aa-45fe-4b25-a66f-3b791eb4ace6",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Agregar el ID en las respuestas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar el ID en las respuestas1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Media Container - IG - Imagen1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Media Container - IG - Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Media Container - IG - Imagen1": {
      "main": [
        [
          {
            "node": "Wait 5 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Media Container - IG - Video1": {
      "main": [
        [
          {
            "node": "Wait 5 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Sec": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Send a message4": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6848e3c5-5f7f-46f4-93e3-0cd72ae5b6b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3b324e714a83b1fc5bac008dcfc4996b9a6408bd0a6bef80f9841613715c327"
  },
  "id": "b88k0zGVzrmuYz2r",
  "tags": []
}