Agente_Difusor_Practica1_WorkFlow.json
{
  "name": "Agente_Difusor_Practica1_WorkFlow",
  "nodes": [
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1104,
        400
      ],
      "id": "35118274-047a-4353-b4a0-6ac34bb7f07a",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formulario-1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -848,
        432
      ],
      "id": "76124b82-cfa0-4529-b8c3-cc981f26f174",
      "name": "Webhook1",
      "webhookId": "8b063ac8-05d6-43d5-9154-7001996d4d94"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wSlAHXH_dr3gimb5nV_vEEiFgeCPa_y0W0NuV6K6H5Q",
          "mode": "list",
          "cachedResultName": "Respuestas Webhook n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wSlAHXH_dr3gimb5nV_vEEiFgeCPa_y0W0NuV6K6H5Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wSlAHXH_dr3gimb5nV_vEEiFgeCPa_y0W0NuV6K6H5Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TituloActividad": "={{ $('Agregar el ID en las respuestas1').item.json.body.TituloActividad }}",
            "ID_Registro": "={{ $('Agregar el ID en las respuestas1').item.json.ID_Registro }}",
            "Responsable": "={{ $('Agregar el ID en las respuestas1').item.json.body.Responsable }}",
            "FechaLugar": "={{ $('Agregar el ID en las respuestas1').item.json.body.FechaLugar }}",
            "DescripcionBreve": "={{ $('Agregar el ID en las respuestas1').item.json.body.DescripcionBreve }}",
            "ArchivosAdjuntos": "={{ $('Agregar el ID en las respuestas1').item.json.body.ArchivosAdjuntos }}",
            "EnlaceAdicional": "={{ $('Agregar el ID en las respuestas1').item.json.body.EnlaceAdicional }}",
            "CanalesDifusion": "={{ $('Agregar el ID en las respuestas1').item.json.body.CanalesDifusion }}",
            "LinkFacebook": "={{ $json.LinkFacebook }}"
          },
          "matchingColumns": [
            "ID_Registro"
          ],
          "schema": [
            {
              "id": "ID_Registro",
              "displayName": "ID_Registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TituloActividad",
              "displayName": "TituloActividad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Responsable",
              "displayName": "Responsable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FechaLugar",
              "displayName": "FechaLugar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DescripcionBreve",
              "displayName": "DescripcionBreve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ArchivosAdjuntos",
              "displayName": "ArchivosAdjuntos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EnlaceAdicional",
              "displayName": "EnlaceAdicional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CanalesDifusion",
              "displayName": "CanalesDifusion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkFacebook",
              "displayName": "LinkFacebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        400
      ],
      "id": "ba0685a7-6764-4356-a1f7-804a8f14e6f2",
      "name": "Append or update row in sheet1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "0a88c81d-1de2-4b6d-935b-ea845e2bcb44"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4ed5f5e4-e09d-4f11-90d2-6d41a4767292",
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "=Twitter(X)",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee947fcc-1089-44ee-b2e2-b24b8cab93c2",
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f41aea95-46a8-41d5-bad5-982f6e3edc04",
                    "leftValue": "={{ $json.body.CanalesDifusion }}",
                    "rightValue": "Web",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -320,
        416
      ],
      "id": "9219d864-c338-432d-b8b6-b5cae7f2c74c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66adc68e-5ddc-48ba-a72e-128d2caffdff",
              "name": "ID_Registro",
              "value": "={{Date.now()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        432
      ],
      "id": "38c05dae-eea3-4087-a3ea-8b089b3a8c60",
      "name": "Agregar el ID en las respuestas1"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "820218114513646",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json.body.ArchivosAdjuntos }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.body.DescripcionBreve }} Más Informacion: {{ $json.body.EnlaceAdicional }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        16,
        -32
      ],
      "id": "b0d49efd-5b94-4938-b74e-7b2eca6a394c",
      "name": "Facebook Graph API",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "291d2ad0-b425-4ba9-ba7c-1e94f0549949",
              "name": "AsuntoEmail",
              "value": "=Fallo en Publicacion: {{ $('Switch').item.json.body.TituloActividad }}",
              "type": "string"
            },
            {
              "id": "d3325151-012b-49e2-9117-29fe12ad053a",
              "name": "EmailResponsable",
              "value": "={{ $('Switch').item.json.body.Responsable }}",
              "type": "string"
            },
            {
              "id": "623c6ffc-b1bd-45be-945a-85c0c995b86d",
              "name": "CuerpoError",
              "value": "=Error: {{ $('Facebook Graph API').item.json.headers['www-authenticate'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        48
      ],
      "id": "307c0e31-0808-43f4-ac85-cb7540f36619",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sendTo": "={{ $json.EmailResponsable }}",
        "subject": "={{ $json.AsuntoEmail }}",
        "message": "=<h3>ALERTA: FALLO CRÍTICO EN AGENTE DIFUSOR</h3>  <p>El Agente Automatizado falló al intentar publicar la siguiente actividad en Facebook. Se requiere una acción manual:</p>  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">     <tr><td><b>Actividad:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}</td></tr>     <tr><td><b>ID de Registro:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}</td></tr>     <tr><td><b>Responsable:</b></td><td>{{ $json.EmailResponsable }}</td></tr> </table>  <hr>  <p><b>Motivo del Fallo Técnico:</b><br> <span style=\"color: red;\">{{$json.CuerpoError}}</span></p>  <p><i>Por favor, revise la vigencia del Token de Acceso de la página de Facebook.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        576,
        48
      ],
      "id": "eead1332-72d2-4979-b968-39d7f55d83b4",
      "name": "Send a message",
      "webhookId": "07845977-6471-4ce7-9b24-3f17c98e859d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c5fe578-f138-4685-84a0-75fd32c37d82",
              "name": "LinkFacebook",
              "value": "=https://www.facebook.com/82028114513846/posts/{{$json.id}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -144
      ],
      "id": "65af0a51-bb85-49c5-824f-86843feb33a8",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6d96b311-906f-4f5b-aac9-6ebcba3e48d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c179515a-1da1-4a83-9ad6-4b4071d6a20d",
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        192,
        -32
      ],
      "id": "3ef8b34c-e306-45c9-9780-98ea10b3f520",
      "name": "Switch2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6d96b311-906f-4f5b-aac9-6ebcba3e48d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c179515a-1da1-4a83-9ad6-4b4071d6a20d",
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        288,
        224
      ],
      "id": "01f877f5-50cd-48d8-b543-4537a40bf992",
      "name": "Switch3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c5fe578-f138-4685-84a0-75fd32c37d82",
              "name": "LinkFacebook",
              "value": "=https://www.facebook.com/82028114513846/posts/{{$json.id}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        208
      ],
      "id": "b471dd4f-1e04-4179-8bac-ee69b29b7508",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sendTo": "={{ $json.EmailResponsable }}",
        "subject": "={{ $json.AsuntoEmail }}",
        "message": "=<h3>ALERTA: FALLO CRÍTICO EN AGENTE DIFUSOR</h3>  <p>El Agente Automatizado falló al intentar publicar la siguiente actividad en Facebook. Se requiere una acción manual:</p>  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">     <tr><td><b>Actividad:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}</td></tr>     <tr><td><b>ID de Registro:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}</td></tr>     <tr><td><b>Responsable:</b></td><td>{{ $json.EmailResponsable }}</td></tr> </table>  <hr>  <p><b>Motivo del Fallo Técnico:</b><br> <span style=\"color: red;\">{{$json.CuerpoError}}</span></p>  <p><i>Por favor, revise la vigencia del Token de Acceso de la página de Facebook.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        400
      ],
      "id": "24ab9ae5-de73-4ae1-9da3-8af37080265e",
      "name": "Send a message1",
      "webhookId": "07845977-6471-4ce7-9b24-3f17c98e859d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "291d2ad0-b425-4ba9-ba7c-1e94f0549949",
              "name": "AsuntoEmail",
              "value": "=Fallo en Publicacion: {{ $('Switch').item.json.body.TituloActividad }}",
              "type": "string"
            },
            {
              "id": "d3325151-012b-49e2-9117-29fe12ad053a",
              "name": "EmailResponsable",
              "value": "={{ $('Switch').item.json.body.Responsable }}",
              "type": "string"
            },
            {
              "id": "623c6ffc-b1bd-45be-945a-85c0c995b86d",
              "name": "CuerpoError",
              "value": "=Error: {{ $('Facebook Graph API').item.json.headers['www-authenticate'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        400
      ],
      "id": "35ffcef3-9941-4fa5-99e3-ad43b4280059",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "text": "{{ $json.body.Titulo}}\n{{ $json.body.Descripcion.Breve }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        32,
        224
      ],
      "id": "6976798d-ee91-4101-82bb-c09e5df3872d",
      "name": "Create Tweet"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        592
      ],
      "id": "39da6560-eec4-4b1f-a304-dd58e6e4f883",
      "name": "Wait 5 Sec",
      "webhookId": "4d32914a-2c09-4c84-b358-510b4d016c12"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.TipoArchivo }}",
                    "rightValue": "Imagen",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d1156cbf-4d9c-4363-901b-d9e76d4ef1b9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4ae9a66a-b065-4b5f-ae95-84df481741cf",
                    "leftValue": "={{ $json.body.TipoArchivo }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        48,
        592
      ],
      "id": "84ea21f1-4485-4d91-94f7-f9a590f74511",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841478311115017/media",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.body.ArchivosAdjuntos }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.body.DescripcionBreve }}"
            },
            {
              "name": "access_token",
              "value": "EAAK2KijVlFMBP6QV20bD7BZAFGeVKVoJ63CUg6i4u3Fjc368GGmax6vudB2evjQhpoipXnd5OTZBPoQxLhcTA2YPkHHe1cWZCH371AoGKS0ztdInKwZAEsW65lJKZCMR7yNfZCArTz64PZCFqat2qplWvL2LyOFPmZAaFt2HmAFZA6jYzjcl3RFFWbg6ZBNcK0fvZCHFS0p"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        496
      ],
      "id": "b3eb161d-3b00-4370-9ba5-339d86d72da4",
      "name": "Create Media Container - IG - Imagen1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841478311115017/media",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "VIDEO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        688
      ],
      "id": "b04b0bc3-085a-4627-896f-2a3974119660",
      "name": "Create Media Container - IG - Video1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841478311115017/media",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('Create Media Container - IG - Imagen').item.json.id }}"
            },
            {
              "name": "access_token",
              "value": "EAAK2KijVlFMBP6QV20bD7BZAFGeVKVoJ63CUg6i4u3Fjc368GGmax6vudB2evjQhpoipXnd5OTZBPoQxLhcTA2YPkHHe1cWZCH371AoGKS0ztdInKwZAEsW65lJKZCMR7yNfZCArTz64PZCFqat2qplWvL2LyOFPmZAaFt2HmAFZA6jYzjcl3RFFWbg6ZBNcK0fvZCHFS0p"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        592
      ],
      "id": "244ed790-c8dd-4ee5-bc36-0ae33cd28a0a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.EmailResponsable }}",
        "subject": "={{ $json.AsuntoEmail }}",
        "message": "=<h3>ALERTA: FALLO CRÍTICO EN AGENTE DIFUSOR</h3>  <p>El Agente Automatizado falló al intentar publicar la siguiente actividad en Facebook. Se requiere una acción manual:</p>  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">     <tr><td><b>Actividad:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.body.TituloActividad }}</td></tr>     <tr><td><b>ID de Registro:</b></td><td>{{ $('Agregar el ID en las respuestas').item.json.ID_Registro }}</td></tr>     <tr><td><b>Responsable:</b></td><td>{{ $json.EmailResponsable }}</td></tr> </table>  <hr>  <p><b>Motivo del Fallo Técnico:</b><br> <span style=\"color: red;\">{{$json.CuerpoError}}</span></p>  <p><i>Por favor, revise la vigencia del Token de Acceso de la página de Facebook.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        944
      ],
      "id": "bba28d05-a9f7-4547-aa9c-ed4185b0b70a",
      "name": "Send a message2",
      "webhookId": "07845977-6471-4ce7-9b24-3f17c98e859d"
    },
    {
      "parameters": {
        "sendTo": "sebastianx025@gmail.com",
        "subject": "post content",
        "message": "post here",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        896
      ],
      "id": "0ce3e5ca-9e82-47cf-ad5b-243443012ae8",
      "name": "Send a message4",
      "webhookId": "779d2e50-9a40-44df-84a0-f84f18253b02"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "6d96b311-906f-4f5b-aac9-6ebcba3e48d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c179515a-1da1-4a83-9ad6-4b4071d6a20d",
                    "leftValue": "={{ $json.post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        544,
        896
      ],
      "id": "3dca7f7d-4632-4b64-85a4-1c6dcd4af3a1",
      "name": "Switch6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "291d2ad0-b425-4ba9-ba7c-1e94f0549949",
              "name": "AsuntoEmail",
              "value": "=Fallo en Publicacion: {{ $('Switch4').item.json.body.TituloActividad }}",
              "type": "string"
            },
            {
              "id": "d3325151-012b-49e2-9117-29fe12ad053a",
              "name": "EmailResponsable",
              "value": "={{ $('Switch4').item.json.body.Responsable }}",
              "type": "string"
            },
            {
              "id": "623c6ffc-b1bd-45be-945a-85c0c995b86d",
              "name": "CuerpoError",
              "value": "=Error:",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        944
      ],
      "id": "b70d2659-8505-4b81-939d-ede8e2df03ba",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {
              "content": "Escribe un Articulo para postear en una pagina web de noticias \ninstitucional usando la siguiente informacion.\nEl Titulo de la actividad es: \"Título de la Actividad\"\nLa carrera responsable es:\"Carrera Responsable\"\nLa fecha y lugar es:\"Fecha y Lugar\"\nLa descripcion de la actividad es : \"Descripción\"\nAdjuntar la siguiente URL: \"URL Imagen/Video Adjunto\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -64,
        896
      ],
      "id": "1e561d1e-b17e-47b7-976c-30e34c567f33",
      "name": "Message a model1"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Agregar el ID en las respuestas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar el ID en las respuestas1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Media Container - IG - Imagen1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Media Container - IG - Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Media Container - IG - Imagen1": {
      "main": [
        [
          {
            "node": "Wait 5 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Media Container - IG - Video1": {
      "main": [
        [
          {
            "node": "Wait 5 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Sec": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Send a message4": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        []
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1fc7c59a-6bb0-4562-9421-d8f9a0448d3e",
  "meta": {
    "instanceId": "81a61bd715d0eeefbee3481fb6931f872310283f3e19b75b85ef6628f9903a89"
  },
  "id": "xNvExmFyUcFoZ8QZ",
  "tags": []
}